
.alerta{color: blue!important;}
li.alerta{color:yellow;background-color: pink;}
ul ol li.alerta{color:red;}
ul .alerta{color: green;}
/*(0,0,0,0)
1º STYLE=1 NOSTYLE=0
2º por cada ID
3º por cada clasa
4º por cada elemento o pseudoelemento
!important; PREEVALECE POR TODO. 
*/