body{
    margin-left:20%;
    margin-right: 20%;
}
#perfil{
    width: 100%;
}
#izquierda{
    width: 20%;
    height: 20%;
    float: left;
    
}
#derecha{
    width: 80%;
    height: 20%;
    float:left;
}
#foto{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top:25px; 
} 
#nombretitulo{
    font-size: 40px;
    color:rgb(55, 158, 226);
    text-shadow: 4px 1px aquamarine ;
}
#listaredes{
    columns: 2 ;
}
.datosicon{
    list-style: none;
}
i{
    color: #12338b;
}
h2{
   word-spacing: 1px;
}
#sobremi{
    background-color: #2cd6ea;
   
}
#formacion{
   height: 50%;
   margin-left: 17%;
}
li.titulos{
    list-style: none;
}

 table,td{
    border: 1px solid #2cd6ea;
    border-style: double;
    border-spacing: 0;
    text-align: center;
 }
 td.x{
    background-color: #9ef5ff;
 }
#contacto{
    background-color: white;
    border: 2px solid rgb(5, 5, 63);
    width: 60%;
    margin: 0px auto;
    height: 400px;
    margin-bottom: 10px;
    text-align: center;
}
h1{ 
    font-size: 25px;
    color:#12338b;
}
input{
    
}
input:focus{
    border: 1px solid black;
}
input[type=text],input[type=email],input[type=tel]{
   padding: 1px;
   background-color: rgb(170, 217, 233);
    border-radius: 10px;
    margin-bottom: 10px;
}
input[type=submit]{
    margin-top: 2%;
    margin-right: 2%;
    padding: 5px;
    border-radius: 15px;
    background-color: aquamarine;
    color: green;
    font-weight: bolder;
}
input[type=reset]{
    margin-top: 2%;
    padding: 5px;
    border-radius: 15px;
    background-color: violet;
    color: red;
    font-weight: bolder;
   
}