#contenedor1 {
    width: 500px;
    margin: 0px auto;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top: 25px;
}

li.clasetitulo::marker {
    content: "🎓";

}

li.clases::marker {
    content: "✱";
    color: #D2228c;

}

#contenedor2 {
    text-align: center;
    width: 500px;
    margin: 0px auto;
    background-color: white;
    border-radius: 50px;
    padding: 20px;

}

form {
    text-align: left;
}

#cajadatos {
    line-height: 2.5;
}

#enviar {
    margin-left: 40%;
}

body {

    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(107, 8, 76, 1) 31%, rgba(65, 0, 255, 1) 100%);
}

legend {
    color: blueviolet;
}

h1 {
    text-shadow: 1px 1px 2px black;
    text-shadow: 1px 1px 3px violet;
    text-align: center;

}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    margin: calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
    background: #fff no-repeat center center;
    border-radius : 50%;
}
input:where( [type="radio"]):where(:active:not(:disabled), :focus){
    border-color : #696;
    outline      : none;
  }
  input:where( [type="radio"]):disabled{
    background : #eee;
  }
  
  input[type="radio"]:checked{
    background-image : url('radio.png');
    background-color: white;
    border: 2px groove purple;
  }
#residencia {
    color: violet;
    width: 30%;
    text-align: center;
    border: 1px solid gray;
}
select[multiple] {
    padding-right: 0;
    height: 7rem;
  }
