h2{
    text-decoration: underline;
    text-align: center;
    font-family: monospace;
   
}
#contenedor{
    width: 820px;
    margin: 0px auto;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    height: 40%;
      
}

p{
    text-decoration: underline;
    font-family: monospace;
    font-size:20px;
    
}

#caja1 {
    float: left;
    width:256px ;
    height: 256px; ;
    margin-top: 10px;
    margin-left: 10px;
    background-color: aqua;
    border: 2px solid black;
    
}
#caja2 {
    float: left;
    width:256px ;
    height: 256px; ;
    margin-top: 10px;
    margin-left: 10px;
    background-color: darkgreen;
    color: white;
    border: 2px solid black;
   
}
#caja3 {
    float: left;
    width:256px ;
    height: 256px; ;
    margin-top: 10px;
    margin-left: 10px;
    background-color: pink;
    margin-right: 10px;
    border: 2px solid black;
  
    
}
#caja4 {
    width: 796px;
    float: left;
    clear: both;
    margin: 10px;
   background-color: orange;
   text-decoration: underline;
   font-family: monospace;
   border: 2px solid black;
   font-size:15px;
   
}
