/*DISENO A 3 COLUMNAS ANCHO FIJO-AJUSTANDO ALTURA DE COLUMNAS*/
/*contenedor 1 es el  contenedor principal*/
#contenedor1{
    background-color: orange;
    width: 780px;
    border:1px solid black;
    overflow: auto;
    margin: 5px auto;/*auto para centrar el contenedor en el navegador.(ancho780delnav)*/
}
/*contenedor 2 esta dentro contenedor 1 pero se pone a la derecha y sus dos cajas el texto 
se dezplaza en izq a caja izq y der a caja derecho.*/
#contenedor2{
    background-color: yellow;
    width: 519px;
    float: right;
}
#contenedor3{
    background-color: orange;
    width: 260px;
    float: right;
}
/*las cajas izq y der estan en contenedor 2 . e caja iz se desplaza con margin*/
#izquierda{
margin-left: -525px;
width: 240px;/*ancho del derecho es 480.*/
float: left;
padding: 10px;
text-align: justify;
color: white;
}
#centro{
    margin-left: -265px;
    width: 240px;
    float: left;
    padding: 10px;
    text-align: justify;
    color:orange;
    font-weight: bolder;
    }
#derecha{
margin-right: 20px;
width: 240px;
float: left;
padding: 10px;
text-align: justify;
color: green;
}
h2{
    background-color: grey;
    color: white;
    z-index: 100;
    box-shadow: 15px 5px 10px  orange ;
}